.footer-container {
    background-color: #222;
    color: white;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 5px;
}

.footer-items p:hover {
    color: #c5c6c7;
    cursor: pointer;
}

.open-time p:hover {
    color: white;
}